
.content-area {
    display: flex;
    flex-direction: column;

    font-family: var(--font-YS-Text);
    font-size: 14px;
    line-height: 20px;

    &__head, &__item  {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

        border-bottom: 1px solid var(--border-light-gray);
    }
    &__head {
        padding: 15px 0 8px 0;

        color: var(--text-light-gray);
    }
    &__item {
        padding: 15px 0 12px 0;

        &:last-child {
            border: none;
        }
    }

    &__name {
        display: flex;
    }
    &__commit {
        &_blue {
            color: var(--text-blue);
        }
    }
    &__message {
        
    }
    &__committer {

    }
    &__date {
        text-align: right;
    }

    &__icon {
        display: flex;
        align-items: center;

        margin-right: 8px;
    }
    &__text {

    }

    &__message-part {
        &_blue {
            color: var(--text-blue);
            text-transform: uppercase;
        }
    }

}