
.current-commit {
    margin: 16px 0;

    border: 1px solid var(--border-current-path);
    border-radius: 4px;

    font-family: var(--font-YS-Text);

    &__head {
        display: flex;
        justify-content: space-between;

        padding: 13px 16px 8px 12px;

        background-color: var(--background-light-gray);
        border-bottom: 1px solid var(--border-current-path);
    }

    &__head-left, &__head-right {
        display: flex;
        align-items: center;
    }

    &__head-symbol {
        margin-right: 12px;

        font-size: 14px;
        line-height: 20px;
        color: var(--text-current-commit-violet);
    }

    &__head-icon-file {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 8px;
    }

    &__head-text {
        font-size: 14px;
        line-height: 20px;
        color: var(--text-black);
    }

    &__head-added {
        margin-right: 16px;

        font-size: 14px;
        line-height: 20px;
        color: var(--text-current-commit-green);
    }

    &__head-removed {
        margin-right: 24px;

        font-size: 14px;
        line-height: 20px;
        color: var(--text-red);
    }

    &__head-icon-clone {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        font-family: var(--font-PT-Mono);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        // overflow-x: scroll;
    }

    &__line {
        display: flex;

        &_added {
            background-color: var(--background-current-commit-added);
        }

        &_removed {
            background-color: var(--background-current-commit-removed);
        }

        &_collapsed {
            display: grid;
            grid-column-gap: 5px;
            grid-template-columns: 2fr 3fr;

            padding: 4px 12px;

            background-color: var(--background-current-commit-collapsed);

            font-size: 12px;
            color: var(--text-light-gray);
        }
    }

    &__line-controls {
        display: flex;

    }

    &__control {
        position: relative;

        &_active {
            color: var(--text-black);
        }

        &:last-child {
            margin-left: 50px;
        }
        
        &_below {
            &:before {
                content: ''; 
                position: absolute;
                left: -16px; 
                bottom: 2px;
                border: 5px solid transparent;
                border-top: 5px solid var(--text-light-gray);
            }
        }

        &_above {
            color: var(--text-black);

            &:before {
                content: ''; 
                position: absolute;
                left: -16px; 
                bottom: 7px;
                border: 5px solid transparent;
                border-bottom: 5px solid var(--text-black);
            }
        }
    }

    &__line-order {
        display: flex;

        width: 80px;

        color: var(--text-redactor-size);
    }

    &__num-left, &__num-right {
        width: 40px;
        text-align: right;
    }

    &__line-text {
        margin-left: 30px;
        color: var(--text-black);

        &_blue {
            color: var(--text-blue);
        }

        &_red {
            color: var(--text-red);
        }

        &_comment {
            color: var(--text-current-commit-comment);
        }
    }
}