
:root {
    /* background */
    --background-dark-gray: #4F4F4F;
    --background-light-gray: #F5F5F5;
    /* border */
    --border-light-gray: #F2F2F2;
    --border-gray: #E5E5E5;
    --border-red: #FF4F49;
    /* text */
    --text-black: #000000;
    --text-dark: #434445;
    --text-dark-gray: #7F8285;
    --text-light-gray: #B8BEC3;
    --text-blue: #1774E9;
    --text-red: #FF3029;
}